# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\villa\OneDrive - Universidad Pontificia Comillas\ICAI\TERCERO\Ingeniería del software\PROYECTO\MyBasket\.idea/dataSources/
/dataSources.local.xml
